<!DOCTYPE html>
<html lang="en">
  <head>
    {% include head.html %}
  </head>
  <body>
    <div class="c-main-container">
      {{ content }}

      <!-- ################################ -->
      <!-- ############ FOOTER ############ -->
      <!-- ################################ -->

      <section class="o-section t-section o-section--footer">
        <div class="o-section__header-bg t-section__header"></div>
        <div class="o-section__content-bg t-section__content"></div>

        <div class="o-container">
          <div class="o-section__container">
            <header class="o-section__header t-section__header">
              <div class="o-content">
                <h2 class="o-section__heading">Contact</h2>
              </div>
            </header>
            <!-- /o-section__header -->

            <div class="o-section__content t-section__content">
              <div class="c-footer__contact">
                <div class="o-grid">
                  <div class="o-grid__col-md-4 o-grid__col-sm-6">
                    <div class="o-content">
                      <div class="o-content__body">
                        <h4>Location</h4>
                        <address>Neustadt an der Weinstraße, Germany</address>
                      </div>
                    </div>
                    <!-- /o-content -->
                  </div>
                  <!-- /o-grid__col -->

                  <div class="o-grid__col-md-4 o-grid__col-sm-6">
                    <div class="o-content">
                      <div class="o-content__body">
                        <a href="/" target="_blank" class="t-link-container">
                          <h4>Web</h4>
                          <p>
                            <span class="t-link-container__item--blended">
                              nogatz.net
                            </span>
                          </p> </a
                        ><!-- /o-link-container -->
                      </div>
                    </div>
                    <!-- /o-content -->
                  </div>
                  <!-- /o-grid__col -->

                  <div class="o-grid__col-md-4 o-grid__col-sm-6">
                    <div class="o-content">
                      <div class="o-content__body">
                        <a
                          href="mailto:falco@nogatz.net"
                          target="_blank"
                          class="t-link-container"
                        >
                          <h4>Email</h4>
                          <p>
                            <span class="t-link-container__item--blended">
                              falco@nogatz.net
                            </span>
                          </p> </a
                        ><!-- /o-link-container -->
                      </div>
                    </div>
                    <!-- /o-content -->
                  </div>
                  <!-- /o-grid__col -->
                </div>
                <!-- /o-grid -->
              </div>
              <!-- /c-footer__contact -->

              <hr class="c-footer__contact-divider" />

              <div class="o-content">
                <div class="c-footer__bottom">
                  <div class="c-footer__brand">
                    <div class="c-brand">
                      <div class="o-content__body">
                        <h1 class="c-brand__title t-title">
                          <a href="/">
                            <span class="c-brand__sizer c-brand__sizer--sm">
                              <span
                                class="a-footer c-brand__first-word t-title__first-word"
                              >
                                Falco
                              </span>
                              <span
                                class="a-footer c-brand__second-word t-title__second-word"
                              >
                                Nogatz
                              </span>
                            </span>
                          </a>
                        </h1>
                      </div>
                      <!-- /o-content__body -->
                    </div>
                    <!-- /c-brand -->
                  </div>
                  <!-- /c-footer__brand -->

                  <ul
                    class="c-footer__social-buttons c-social-buttons o-content__body"
                  >
                    <li class="a-footer">
                      <a
                        href="https://twitter.com/ulmerleben"
                        target="_blank"
                        class="c-social-button t-social-button"
                      >
                        <i class="fab fa-lg fa-twitter"></i>
                      </a>
                    </li>
                    <li class="a-footer">
                      <a
                        href="https://www.instagram.com/ulmerleben/"
                        target="_blank"
                        class="c-social-button t-social-button"
                      >
                        <i class="fab fa-lg fa-instagram"></i>
                      </a>
                    </li>
                    <li class="a-footer">
                      <a
                        href="https://github.com/fnogatz"
                        target="_blank"
                        class="c-social-button t-social-button"
                      >
                        <i class="fab fa-lg fa-github"></i>
                      </a>
                    </li>
                  </ul>
                  <!-- /c-footer__social-buttons -->
                </div>
                <!-- /c-footer__bottom -->
              </div>
              <!-- /o-content -->
            </div>
            <!-- /o-section__content -->
          </div>
          <!-- /o-section__container -->
        </div>
        <!-- /o-container -->
      </section>
      <!-- /o-section -->
    </div>
    <!-- /c-main-container -->
  </body>
</html>
